// 遮羞區塊
@mixin shyMask {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 0;
    background: url(/images/bg/bg_all_white.png) repeat center;
    background-size: 180px;
}
