// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-important-utilities: true !default; // important utilities
$enable-smooth-scroll: false !default;
$enable-grid-classes: true !default; // grid classes
$enable-button-pointers: true !default;
$enable-negative-margins: false !default;